body{
    padding-top: 80px;
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-centered{
    max-width: 900px;
    margin: auto;
}

/* inizio navbar */
nav{
    display: flex;
    justify-content: space-between;
    gap: 50px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 80px;
    color: rgb(71, 65, 65);
    background-color: white;
}

.nav-left, .nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}

.nav-right button{
    color: white;
    background-color: rgb(0, 97, 255);
    padding: 8px 15px;
    border: none;
}

.nav-left img{
    width: 100%;
}

.nav-mid{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.nav-mid div{
    justify-content: center;
    align-items: center;
}

.nav-mid-left, .nav-mid-right{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* .nav-mid-left div:hover, .nav-mid-right div:hover{
    border-bottom: 1px solid black;
} */

/* fine navbar */

/* inizio jumbo */
#jumbo{
    margin-bottom: 100px;
    background-color: rgb(180, 208, 231);
}

.jumbo-inner{
    padding-top: 50px;
    margin: auto;
    max-width: 1100px;
}

#jumbo h1{
    font-size: 4em;
    padding-bottom: 40px;
}

.jumbo-inner-bottom{
    display: flex;
    margin-top: 20px;
}

.jumbo-inner-right img{
    width: 100%;
    margin-bottom: -40px;
}

.jumbo-inner-left{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    padding-bottom: 20px;
    font-size: 14;
    line-height: 1.5em;
}

.jumbo-inner-left button{
    color: white;
    background-color: rgb(0, 97, 255);
    padding: 8px 15px;
    border: none;
}

.jumbo-inner-left i{
    font-size: 3em;
}
/* fine jumbo */

/* inizio plans */

.main-plans-title h1{
    margin-bottom: 50px;
}

.fatturazione{
    display: inline-block;
    padding-right: 40px;
}

.main-plans-type-top{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.main-plans-type{
    width: calc(86% / 3);
    border: 1px solid grey;
}

.main-plans-type.enter-bot{
    width: 100%;
}

.main-plans-type-bottom{
    height: 200px;
    margin-bottom: 120px;
}

.col-title{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.col-title i{
    margin-right: 10px;
}

.column-upperbody, .column-lowerbody{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
    line-height: 1.3em;
}

.column-midbody{
    font-size: 14px;
    line-height: 1.3;
}

.upperbody-row, .lowerbody-row{
    display: flex;
    flex-flow: row nowrap;
}

.column-midbody button{
    color: white;
    background-color: rgb(0, 97, 255);
    padding: 8px 15px;
    border: none;
    width: 100%;
    margin-bottom: 30px;
}

.column-midbody hr{
    margin-top: 50px;
    width: 30%;
}

.price-azienda{
    font-weight: bold;
    font-size: 14px;
}

.row-text{
    padding-left: 10px;
}

.fa-check{
    color: blue;
}

.fa-skull{
    color: red;
}

.column-header, .column-upperbody, .column-midbody, .column-lowerbody{
    width: 88%;
    margin: 35px auto;
}

/* .column-header *, .column-upperbody *, .column-midbody *, .column-lowerbody *{
    margin-bottom: 15px;
} */

.column-header *, .enter-bot-left *{
    margin-bottom: 10px;
}

.column-header .price{
    font-weight: bold;
}

.column-header .duration{
    font-size: 13px;
    font-style: italic;
}

.enter-bot-body{
    display: flex;
    
}

.enter-bot-left{
    /* flex-grow: 1; */
    padding: 20px 40px;
}

.enter-bot-left p{
    margin-top: 30px;
}

.enter-bot-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.enter-bot-right button{
    color: white;
    background-color: rgb(0, 97, 255);
    padding: 10px 15px;
    border: none;
    margin-right: 15px;
    width: 180px;
}

.main-team{
    margin: 40px auto 60px;
    height: 250px;
    background-color: white;
}

.main-team-top{
    text-align: center;
    height: 15%;
}

.main-team-bottom{
    display: flex;
    height: 85%;
}

.main-team-bottom-left{
    flex-grow: 1;
    height: 100%;
    background-color: rgb(79, 123, 161);
}

.main-team-bottom-right{
    width: 35%;
    height: 100%;
    background-color: rgb(96, 156, 81);
}

/* inizio sezione main partner */
.main-partner{
    display: flex;
}

.main-partner img{
    width: 100%;
}

.main-partner-left, .main-partner-right{
    width: 50%;
}

.main-partner-right{
    margin: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.main-partner-right h2{
    font-size: 20px;
}

.main-partner-right p{
    padding-right: 100px;
    font-size: 14;
    line-height: 1.5em;
}

.main-partner button{
    background-color: white;
    border-color: black;
    padding: 10px 15px;
}
/* fine sezione main partner */

/* inizio griglia main "business"*/
.main-business{
    margin-top: 100px;
}

.main-business-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 30px;
}

.card{
    width: calc(90% / 3);
    margin-bottom: 25px;
}

.card img{
    width: 90%;
    margin: 20px 0;
}

.card .card-text h2{
    margin-bottom: 25px;
    font-size: 20px;    
}

.card-text p{
    font-size: 14px;
    line-height: 1.5em;
}

.main-business-bottom{
    padding: 100px 0;
    text-align: left;
}

.main-business-bottom h1, .faq-wrapper h2{
    margin-bottom: 40px;
}
/* fine griglia main "business"*/



/* inizio featured */
.featured-wrapper-top{
    display: flex;
    justify-content: space-between;
}

.featured{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.featured.left, .featured.right{
    display: flex;
    flex-wrap: wrap;
}

.featured.mid{
    flex-grow: 0;
    background-color: rgb(245, 245, 245);
    padding: 50px;

    display: flex;
    justify-content: center;
}

.box-big img{
    width: 45%;
}

.featured.mid p{
    margin-bottom: 40px;
    font-style: italic;
}

.featured.mid hr{
    margin: 50px 0;
    width: 20%;
}

.box{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .box:hover{
    box-shadow: inset 0 0 50px #04e12c, 0 0 50px #fff;
} */

/* .box1:hover{
    box-shadow: inset 0 0 50px #5d645cb6, 0 0 50px #fff;
} */

.box img{
    width: 40%;
    filter: invert(100%);
}

.featured-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: rgb(180, 208, 231);
}

.featured-bottom-left{
    color: rgb(97, 8, 43);
}

.featured-bottom-right button{
    padding: 10px 30px;
    border: none;
}

.featured-bottom-text{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured.left .box:nth-child(1){
    background-color: rgb(162, 211, 155);
}

.featured.left .box:nth-child(1):hover{
    box-shadow: inset 0 0 80px #0f1d29e3, 0 0 50px #fff;
}

.featured.left .box:nth-child(2){
    background-color: rgb(97, 8, 43);
}

.featured.left .box:nth-child(2):hover{
    box-shadow: inset 0 0 80px #0f1d29e3, 0 0 50px #fff;
}

.featured.left .box:nth-child(3){
    background-color: rgb(0, 147, 206);
}

.featured.left .box:nth-child(3):hover{
    box-shadow: inset 0 0 80px #0f1d29e3, 0 0 50px #fff;
}

.featured.left .box:nth-child(4){
    background-color: red;
}

.featured.left .box:nth-child(4):hover{
    box-shadow: inset 0 0 80px #0f1d29e3, 0 0 50px #fff;
}

.featured.right .box:nth-child(1){
    background-color: red;
}

.featured.right .box:nth-child(1):hover{
    box-shadow: inset 0 0 80px #0f1d29e3, 0 0 50px #fff;
}

.featured.right .box:nth-child(2){
    background-color: rgb(180, 208, 231);
}

.featured.right .box:nth-child(2):hover{
    box-shadow: inset 0 0 80px #0f1d29e3, 0 0 50px #fff;
}

.featured.right .box:nth-child(3){
    background-color: rgb(13, 36, 129);
}

.featured.right .box:nth-child(3):hover{
    box-shadow: inset 0 0 80px #0f1d29e3, 0 0 50px #fff;
}

.featured.right .box:nth-child(4){
    background-color: rgb(255, 216, 48);
}

.featured.right .box:nth-child(4):hover{
    box-shadow: inset 0 0 80px #0f1d29e3, 0 0 50px #fff;
}
/* /fine featured */




/* inizio faq */
.faq-wrapper{
    margin: 100px auto;
}

.faq-wrapper .faq-content:first-of-type{
    border-top: 1px solid rgb(194, 188, 188);
}

.faq-content{
    font-weight: 600;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(194, 188, 188);
    line-height: 60px;
}
/* /fine faq */


/* inizio footer */
footer{
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.footer-wrapper{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-top div:first-of-type{
    border-bottom: 1px solid grey;
}

.footer-top .list-title strong{
    font-size: 18px;
    width: calc(100% / 5);
}

.footer-top .list-title ul{
    margin-top: 20px;
}

.footer-top .list-title ul li{
    list-style-type: none;
    padding: 10px 0;
}

li:last-of-type{
    margin-bottom: 50px;
}

.footer-bottom{
    padding: 30px 0;
    flex-grow: 1;
}

.footer-bottom i{
    margin-right: 10px;
}
/* /fine footer */